@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rock+Salt&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a {
    text-align: center;
    color: #003049;
    text-decoration: none;
    padding: 35px;
}

nav {
    text-align: center;
    text-decoration: none;
}

a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.botton-box {
    text-align: center;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
}

body {
    background-color: #003049;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header {
    background-color: #941404;
}

nav a:hover {
    background-color: #d62828;
    color: white;
}

.book,
.join {
    background-color: #941404;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #d62828;
    color: white;
}

#background {
    background-color: #941404;

}

.msg {
    background-color: #941404;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #941404;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: white;
    font-family: "Rock Salt", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: white;
}

.msg h2 {
    color: white;
    font-family: "Rock Salt", sans-serif;

}

.img p {
    color: white;
    font-size: .8em;
}

footer h3 {
    color: white;
}

footer a {
    color: #003049;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;

}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.msg p {
    padding-bottom: 15px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapinds-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d62828;
}

main section img {
    box-sizing: border-box;
}

.book {
    text-align: center;
}