@import url('https://fonts.googleapis.com/css2?family=Joan&family=Ubuntu:wght@300&display=swap');




#content {
    max-width: 1900px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    border: 0;



}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 3em #FFC4EB;
    background-color: white;
 
}
.links li{
    display:inline-flex
}


nav a {
    color: #FFC4EB;
    text-decoration: none;
    border-radius: 50px;
    background-color: black;
    font-size: 2em;
    padding: 20px;
    cursor: pointer;
    margin: 30px;
    font-family: "Ubuntu", sans-serif;
     
}
nav a:hover{
    background-color: #FFC4EB;
    color: white;

}

html, body{

    margin: 0;
    padding: 0;
    width: 100%;
    background-color:white;
    font-size: 22px;
    min-height: 100vh;
}

.logo{
    cursor:pointer;
    margin-left: 60px;
    width: 300px;
}
body{
    background-color: blue;
}














































footer{
    background-image: url('../images/img6.jpg');
    background-size: cover;
    margin-top: 200px;
    display: grid;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
footer .social{
    display: inline-flex;
    padding: 15px;
    margin-top: 75px;
    margin-left: 35px;
    grid-column: 3/4;

    
}
.whatslogo{
    height: 115px;
    margin-top: 8px;
    margin-left: 8px;

}
.contactus{
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 25px;
    margin-left: 65px;
    font-size: 2.1em;
    background-color: black;
    width: 332px;
    height: 60px;
    padding: 3px;
    padding-left: 8px;
    border-radius: 50px;
    font-family: "Ubuntu", serif;

    
}
.footer-services{
    grid-column: 2/3;
    grid-row: 1;
    justify-self: end;
    margin-top: 25px;
    margin-right: 45px;
    font-family: "Ubuntu", serif;
    cursor: pointer;
    z-index: 1;
    
}
.siteplan{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    margin-top: 25px;
    font-family: "Ubuntu", serif;
    cursor: pointer;
    z-index: 1;
    
}

footer .address{
    margin-top: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 1.5;
    font-family: "Ubuntu", serif;
    padding: 15px;
    font-size: .9em;
}


footer .phone{
    line-height: 1.5;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
    font-family: "Ubuntu", serif;
    padding: 15px;
    font-size: .9em;
}
footer h3{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: .8em;
    padding: 15px;
    font-family:"Ubuntu", serif;
}